.Projects {
    background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0)) , url('../../resources/Project_bg.jpg'); 
    background-size: cover;
    background-position-x: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}